.map-space {
  width:100%;
  height: 300px;
}

.wrapper-blue {
  background: #3FC1C9;
  padding: 30px 0;
}


.row {
  background-color: white;
}

.panel-light {
    background-color: #fff;
    border: 1px solid #dce0e0;
}

.panel-body {
    position: relative;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #dce0e0;
}

.row.bot-marged {
  margin-bottom: 2px;
}

.row.first-top-marged {
  margin-top: 30px;
}

.form-instruction {
  font-size: 0.9em;
  color: #777;
}

.form-control {
  height:50px;
}

.padded-vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}
