.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: -1px 1px 0px #364F6B;
}

.search {
  margin-top: 80px;
}
