.banner {
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  // align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: -1px 1px 0px #364F6B;
  margin-bottom: 40px;
}

.banner p {
    font-size: 30px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    margin-top: 30px;
}
.btn {
  margin-top: 10px;
}

.form-group {
    margin-top : 10px;
    font-size: 25px;
}


.search {
  margin-top: 40px;
}

.input-daterange {
    width: 42%;
}

#location {
  width: 350px;
}

.banner-search {
  width: 42% !important;
}
