.fb-button {
  background: #3b5998;
  display: block;
  height: 37px;
  /* margin: 0 0 30px 41px; */
  width: 166px;
  color: #fff;
  height: 37px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 45px;
  border-radius: 4px;
}

.fb-button:hover {
  color: white;
  text-decoration: none;
  background-color: #253688;
}
