.row {
background-color:#FFF;
padding-left: 20px;

}

.row.bot-marged {
  margin-bottom: 2px;
}

.row.first-top-marged {
  margin-top: 30px;
}

.form-instruction {
  font-size: 0.9em;
  color: #777;
}

.form-control {
  height:50px;
}

.padded-vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}

.row label {
  padding-right: 20px;
  color: #364F6B
}

.form-inline .radio label {
  border: solid 1px #EEE;
  padding: 12px;
}

.form-inline .radio input {
  margin-right: 10px;
}

span.radio:hover {
  background-color:#F5A8BF;
}

span.radio:checked {
  background-color:#FC5185;
}

.simple_form h3 {
  color: #364F6B
}

.header h2 {
  color: white;
  padding-top:40px;
  padding-bottom:40px;
}


input[type="file"] {
  height: 60px;
  opacity: 0;
}

.file-upload {
  height: 60px;
  width: 300px;
}

.file-upload-text {
  text-align: center;
  color: white;
  font-size: 1.2em;
  padding: 0;
  padding-top:10px;
  margin: 0;
}

.file-upload-text .fa {
  padding-right: 15px;
  vertical-align: sub;
}

.space_photos {
  position:relative;
  top: -60px
}
