.row {
background-color:#FFF;
padding-left: 20px;

}

.row.bot-marged {
  margin-bottom: 2px;
}

.form-instruction {
  font-size: 0.9em;
  color: #777;
}

.form-control {
  height:50px;
}

.padded-vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}

.row label {
  padding-right: 20px;
}
